# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
dist/

# Env
.env
.env.local
.env.*.local

# Build artefacts
coverage/
.turbo/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
